*{
    font-family: 'Poppins', sans-serif;
}

.banner{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0;
    
}
.skills-padding{
    padding: 70px 0;
}
a i{
    margin-left: 4px;
}